@font-face {
  font-family: 'TanseekModernProArabic-Book';
  src: url('assets/fonts/d602bf6498a65d9595ca30c04eadda32.eot')
      format('embedded-opentype'),
    url('assets/fonts/d602bf6498a65d9595ca30c04eadda32.woff2') format('woff2'),
    url('assets/fonts/d602bf6498a65d9595ca30c04eadda32.woff') format('woff'),
    url('assets/fonts//d602bf6498a65d9595ca30c04eadda32.ttf') format('truetype'),
    url('assets/fonts/d602bf6498a65d9595ca30c04eadda32.svg#TanseekModernProArabic-Book')
      format('svg');
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #fed860;
  font-family: 'TanseekModernProArabic-Book', sans-serif;
}
